.event-display{
    display: flex;
    margin:0px 170px;
    gap: 80px;
    margin-bottom: 30px;
}
.event-display-left{
    display: flex;
    gap: 17px;
}
.eventdisplau-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.eventdisplau-img-list img{
    height: 63px;
    border-radius: 10px;
}
.eventdisplay-main-img{
    width: 386px;
    height: 300px;
    border-radius: 30px;
}
.eventdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.eventdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    grid-area: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.eventdisplay-right-prices{
    display: flex;
    margin: 20px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight:700 ;
}
.eventdisplay-rightprices-old{
    color: #818181;
    text-decoration: line-through;
}
.eventdisplay-rightprices-new{
    color: #ff4141;
}
.eventdisplay-right button{
    width: 170px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border:none;
    border-radius: 30px;
    cursor: pointer;
}
.eventdisplayright-description{
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight:500 ;
}